{% extends 'base.html' %}

{% block title %}
Scrumptious recipes
{% endblock title %}

{% block content%}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button>Edit</button>
          </form>
    </main>
{% endblock content%}
