body {
    padding:0;
    margin:0;
}
main {
    margin: 16px;
}
footer {
    padding: 24px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
    background-color:#B4CF66;
}
img {
    height: 200px;
}
nav {
    padding: 16px;
    background-color:#FF5A33;
    border-bottom: 1px solid black;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
}
nav a {
    display: block;
    width: 130px;
}
.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h1 {
    color: #146152;
}
.recipe-grid a {
    color: #44803F;
}
.recipe-grid a:hover {
    color: rgb(125, 215, 125);
}
a {
    text-decoration: none;
    color: white;
}
/* a:visited {
    text-decoration: none;
    color: white;
} */
a:hover {
    color: rgb(156, 216, 244);
}
tbody tr:nth-child(even) {
    background-color: rgb(212, 211, 211);
}
/* p {
    display: flex;
} */
